<span class="cal-form-text cal-form-or">or</span>
<input type="date" 
    class="cal-form-input cal-input-short cal-input-date" 
    id="cal-date-start" 
    placeholder="Start date" 
    ng-model="formdata.startDate" 
    ng-focus="clearDateRadios()">

<span class="cal-form-text cal-form-to cal-mobile">to</span>
<input type="date" 
    class="cal-form-input cal-input-short cal-input-date" 
    id="cal-date-end" 
    placeholder="End date" 
    ng-model="formdata.endDate" 
    ng-focus="clearDateRadios()">
