<div ng-if="eventItem.type === 'break'"><h2 class="cal-subheading cal-date"><span class="cal-sub-label">{{::eventItem.data}}</span></h2></div>

<div class="cal-result" itemscope itemtype="http://schema.org/Event" ng-if="eventItem.type === 'event'">
    <a ng-href="/event/{{::eventItem.data.prodID}}/{{::eventItem.data.prodName | urlencode}}{{::'?' | chromeless}}" class="cal-result-link" itemprop="url">
        <div class="cal-thumb-container cal-crop cal-frame" ng-if="eventItem.data.venuePhoto">
            <img ng-src="{{::eventItem.data.venuePhoto}}" class="cal-thumb cal-photo" itemprop="image">
        </div>
        <p class="cal-cat cal-desktop">{{::eventItem.data.catName}}</p>
        <p class="cal-time" itemprop="startTime" content="{{::eventItem.data.eventStartDate | date:'yyyy-MM-ddTHH:mm'}}">{{::eventItem.data.eventStartTime | trimHour}}</p>
        <h3 class="cal-heading cal-result-title" itemprop="name">{{::eventItem.data.prodName}}</h3>
        <p class="cal-location">
            <span class="cal-venue" itemprop="location" itemscope itemtype="http://schema.org/Place">{{::eventItem.data.venueName}}</span>
            <span class="cal-neighborhood" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{::eventItem.data.venueCinNeighborhood}}{{eventItem.data.venueState !== 'OH' ? ', ' + eventItem.data.venueState : ''}}</span>
        </p>
    </a>
</div>

<div class="cal-mobile cal-results-ad" ng-if="$index === 3">
    <div data-ng-dfp-ad='div-gpt-ad-1473030352176-0' data-ng-dfp-ad-hide-when-empty></div>
</div>