<section class="cal-main">

    <h1 class="cal-heading cal-title cal-desktop">Cincinnati Calendar of Events</h1>
    <p class="cal-intro cal-desktop">No matter what you like – music, art, theater, gardening, beer, craft shows – we have it all listed for you. <br>Questions? Contact <a href="mailto:calendar@cincinnati.com">calendar@cincinnati.com</a>.</p>

    <search-filters total-events="{{eventsCtl.totalEvents}}"></search-filters>

    <div date-pinner class="cal-results-wrapper">
    	<div class="cal-date-tag-wrapper" ng-repeat="eventItem in eventsCtl.events" ng-include="'core/client/views/eventslisting.client.view.html'"></div>
    </div>

    <ul class="cal-pagination cal-desktop" uib-pagination total-items="eventsCtl.totalEvents" ng-change="eventsCtl.pageChanged()" ng-model="eventsCtl.currentPage" max-size="eventsCtl.maxSize" class="pagination-sm" items-per-page="20" boundary-link-numbers="true" rotate="true"></ul>

    <p ng-hide="eventsCtl.hideLoadMore()" class="cal-button-wrapper"><a ng-click="eventsCtl.loadMore()" class="cal-button cal-load-more cal-mobile">Load more</a></p>
    
</section>

<section class="cal-right-col cal-results-right cal-desktop">

    <default-sidebar weekend-events="eventsCtl.weekendEvents"></default-sidebar>

</section>