<div class="feedback-container">
    <h1 class="feedback-title">Improve event listings</h1>
    <p class="feedback-intro" ng-hide="feedbackCtl.formSubmitted">Let us know how we can improve this event listing by filling out the form below.</p>
    <p class="feedback-intro" ng-show="feedbackCtl.formSubmitted && !feedbackCtl.formError">Thanks for taking the time to provide feedback on the Cincinnati <a ng-href="/">Calendar of Events</a></p>
    <p class="feedback-intro" ng-show="feedbackCtl.formError">There was an error submitting the feedback form, please refresh the page and try again or send the information directly to <a href="mailto:feedback@local.cincinnati.com" target="_blank">feedback@local.cincinnati.com</a>.</p>
    <p ng-show="feedbackCtl.formSubmitted"><b><a ng-href="{{::feedbackCtl.eventUrl}}{{::'?' | chromeless}}">Back to Calendar</a></b></p>
    <form novalidate name="feedbackCtl.feedbackForm" ng-hide="feedbackCtl.formSubmitted" ng-submit="feedbackCtl.submit()">
        <div class="feedback-row">
            <label class="feedback-label">Name:</label>
            <input class="feedback-name" type="text" name="name" ng-model="feedbackCtl.feedback.name" required>
            <div class="feedback-validation" ng-show="feedbackCtl.feedbackForm.$submitted && feedbackCtl.feedbackForm.name.$error.required">Please fill out this field.</div>
        </div>
        <div class="feedback-row">
            <label class="feedback-label">Email:</label>
            <input class="feedback-email" type="email" name="email" ng-model="feedbackCtl.feedback.email" required>
            <div class="feedback-validation" ng-show="feedbackCtl.feedbackForm.$submitted && feedbackCtl.feedbackForm.email.$error.required">Please fill out this field.</div>
            <div class="feedback-validation" ng-show="feedbackCtl.feedbackForm.$submitted && feedbackCtl.feedbackForm.email.$error.email">Please fill out this field with a valid email address.</div>
        </div>
        <div class="feedback-row">
            <label class="feedback-label">Event:</label>
            <input class="feedback-event" type="text" name="event" ng-model="feedbackCtl.feedback.event" placeholder="Event name" required>
            <div class="feedback-validation" ng-show="feedbackCtl.feedbackForm.$submitted && feedbackCtl.feedbackForm.event.$error.required">Please fill out this field.</div>
        </div>
        <label class="feedback-textarea-label">Please tell us how to improve this listing</label>
        <textarea class="feedback-textarea" name="message" ng-model="feedbackCtl.feedback.message" required></textarea>
        <div class="feedback-validation" ng-show="feedbackCtl.feedbackForm.$submitted && feedbackCtl.feedbackForm.message.$error.required">Please fill out this field.</div>
        <div class="feedback-recaptcha">
            <div vc-recaptcha ng-model="feedbackCtl.feedback.gRecaptchaResponse" key="'6Lfp8AgUAAAAAPHd1uKFpqzRzlnySe3OYCYYtr73'" class="g-recaptcha"></div>
            <input type="submit" class="feedback-submit" value="Send Message">
            <p class="feedback-cancel"><b><a ng-href="{{::feedbackCtl.eventUrl}}{{::'?' | chromeless}}" class="feedback-cancel-link">Cancel</a><b></p>
        </div>
        <input name="prodID" type="hidden" ng-model="feedbackCtl.feedback.id">
    </form>
</div>