<div class="row active-main">
    <div class="col-md-7">
        <form>
              <div class="form-group">
                <label>Notepad Title</label>
                <input class="form-control" ng-model="gistsCtl.notepadTitle" placeholder="{{gistsCtl.notepadTitle}}">
              </div>
              <div class="form-group">
                <label class="my-notes-title">My Notes</label>
                <input class="form-control" ng-model="gistsCtl.noteTitle" placeholder="Enter note title...">
              </div>
              <div class="form-group">
                <label >Example textarea</label>
                <textarea class="note-description form-control" placeholder="Enter note..." ng-model="gistsCtl.noteText" rows="7"></textarea>
              </div>
              <button type="submit" ng-click="gistsCtl.addGist()" class="btn btn-success">Add</button>
        </form>

        <section class="active-notes">
            
            <div class="note" ng-repeat="note in gistsCtl.notes track by $index">
                <form>
                      <div class="form-group">
                        <input class="form-control" placeholder="{{note.noteTitle}}">
                      </div>
                      <div class="form-group">
                        <label >Example textarea</label>
                        <textarea class="note-description form-control"  rows="7" placeholder="{{note.noteText}}"></textarea>
                      </div>
                </form>
                <div class="delete-note">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </section>
    </div>  

    <div class="col-md-4 active-actions-wrapper">
        <div class="active-actions pull-right">
            <button type="submit" ng-click="gistsCtl.viewStats()" class="btn btn-outline-secondary" data-toggle="button">View Stats</button>
            <button type="button" ng-click="gistsCtl.saveGist()" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Save</button>
            <button type="button" ng-click="gistsCtl.deleteNotes()" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">Delete</button>
        </div>
    </div>   
</div>
