<section class="cal-main">

    <p class="cal-presenter-back">
        <a ng-href="/{{::'?' | chromeless}}" class="cal-link cal-back-link"><span class="cal-desktop">Back to all events</span></a>
    </p>

    <div class="cal-presenter-wrapper">
        <h1 class="cal-heading cal-presenter-title">Events presented by <span ng-bind-html="::presenterCtl.presenter.presName"></span></h1>
        <p class="cal-description" ng-if="presenterCtl.presenter.presDescription" ng-bind-html="::presenterCtl.presenter.presDescription"></p>
        <p class="cal-listing-item cal-contact" ng-if="presenterCtl.presenter.presPhone || presenterCtl.presenter.presURL">
            <span ng-if="presenterCtl.presenter.presPhone">Call {{::presenterCtl.presenter.presPhone}}</span>
            {{(presenterCtl.presenter.presPhone && presenterCtl.presenter.presURL) ? ' or ' : ''}}
            <a ng-href="http://{{::presenterCtl.presenter.presURL}}" class="cal-link" ng-if="presenterCtl.presenter.presURL">visit website</a>
        </p>
        <p class="cal-listing-item cal-address" ng-if="presenterCtl.presenter.presAddress">
            <span class="cal-street" ng-bind-html="::presenterCtl.presenter.presAddress"></span><br>
            <span class="cal-street" ng-if="presenterCtl.presenter.presAddress2 !== ''">{{::presenterCtl.presenter.presAddress2}}</span><br ng-if="presenterCtl.presenter.presAddress2 !== ''">
            <span class="cal-locality">{{::presenterCtl.presenter.presCity}}, {{::presenterCtl.presenter.presState}} {{::presenterCtl.presenter.presZip}}</span><br>
            <span class="cal-directions"><a ng-href="{{::presenterCtl.presenter.directionsLink}}" class="cal-link">Get directions</a></span>
        </p>
    </div>

    <search-filters total-events="{{presenterCtl.totalEvents}}"></search-filters>

    <div ng-repeat="eventItem in presenterCtl.events" ng-include="'core/client/views/eventslisting.client.view.html'"></div>

</section>

<section class="cal-right-col cal-results-right cal-desktop">

    <default-sidebar weekend-events="presenterCtl.weekendEvents"></default-sidebar>

</section>