@import 'colors';
@import 'fonts';
@import 'addtocalendar';
@import 'feedback';
@import 'error';

*,
*:before,
*:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

label {
	font-weight: normal;
}


body {
	font-family: Arial;
	.btn {
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-outline-secondary {
		border: 1px solid #ccc;
	}

	header {
		font-size: 16px;
		margin-bottom: 15px;
	}

	background-color: #eee;
	padding: 20px;


	.active-main {
		background-color: #fff;
		border-radius: 5px;
		padding: 15px;


		form {
			.form-control {
				height: 24px;
				width: 100%;
			}
		}


		.active-actions-wrapper {
			padding: 25px;
		}

		.active-notes {
			form {
				padding-top: 20px;
			}
		}
	}

	.active-main-right-column {
		// background-color: #eee;
		// bottom: 0;
		// padding-top: 30px;
		// position: absolute;
		// right: 0;
		// top: 0;
		// width: 320px;
	}

	footer {
		margin-top: 15px;
	}
}

.line-graph {
	
}
