@import 'colors';

*,
*:before,
*:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

label {
	font-weight: normal;
}


body {
	font-family: Arial;
	background-color: #eee;
	padding: 20px;

	.btn {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 14px;
	}

	.btn-danger {
		background-color: #EC3646;
	}

	.btn-primary {
		background-color: #39ACDC;
	}

	.btn-success {
		background-color: #57B93E;
	}

	input {
		font-size: 12px;
	}

	.btn-outline-secondary {
		border: 1px solid #ccc;
	}

	header {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.note-description {
		height: 125px !important;
	}

	.active-main {
		background-color: #fff;
		border-radius: 5px;
		padding: 15px;


		form {
			width: 80%;

			.form-control {
				height: 24px;
				width: 100%;
			}
		}

		.my-notes-title {
			font-size: 18px;
		}

		.active-actions-wrapper {
			padding: 25px;
		}

		.active-notes {
			.note {
				.delete-note {
					width: 20%;
				    display: inline-block;
				    float: left;
				    position: relative;
				    text-align: right;
				    top: 20px;
				}
				form {
					padding-top: 20px;
					//width: 80%;
					float: left;
					//display: inline-block;
				}	
			}
		}
	}

	.active-main-right-column {
		// background-color: #eee;
		// bottom: 0;
		// padding-top: 30px;
		// position: absolute;
		// right: 0;
		// top: 0;
		// width: 320px;
	}

	.active-stats {
		background-color: #fff;
		border-radius: 5px;
		padding: 15px;
	}
}

.line-graph {
	
}
