.feedback-container {
    background: #fff;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px 30px;
    width: 800px;
}
.feedback-title {
    color: #333;
    font-family: 'Futura Today Light';
    font-size: 36px;
    line-height: 24px;
}
.feedback-textarea-label,
.feedback-intro {
    color: #666;
    font: 14px/18px Helvetica, Arial, sans-serif;
}
.feedback-textarea-label {
    display: block;
    margin: 15px 0 0;
    padding: 0;
}
.feedback-event,
.feedback-email,
.feedback-name,
.feedback-textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    box-sizing: border-box;
    font: 14px/18px Helvetica, Arial, sans-serif;
    height: 36px;
    margin: 8px 0 0 0;
    padding-left: 10px;
    width: 100%;
}
.feedback-email,
.feedback-name {
    margin-bottom: 10px;
    width: 190px;
}
.feedback-event {
    margin-bottom: 10px;
    width: 450px;
}
.feedback-row {
    display: table-row;
}
.feedback-label {
    width: 60px;
}
.feedback-textarea {
    height: 150px;
    margin-bottom: 10px;
    width: 510px;
}
.feedback-email,
.feedback-name,
.feedback-label {
    color: #333;
    display: table-cell;
    font: 14px/21px Helvetic, Arial, sans-serif;
}
.feedback-submit {
    background: rgb(0,127,227);
    border-style: none;
    border-radius: 8px;
    color: #fff;
    font: 14px/14px Helvetica, sans-serif;
    height: 50px;
    padding: 0;
    text-transform: uppercase;
    width: 190px; 
}
.feedback-submit:hover {
    cursor: pointer;
}
.g-recaptcha {
    text-align: center;
    margin: 15px 0 20px;
    width: 300px;
    height: 79px
}
.feedback-cancel {
    margin: 20px 0;
}
.feedback-cancel-link, .feedback-cancel-link:visited {
    text-decoration: none;
    color: rgb(0,127,227);
} 
.feedback-cancel-link:hover {
    text-decoration: underline;
}
.feedback-validation {
    margin-top: -10px;
    margin-bottom: 15px;
    color: #e95a5a;
    font-size: 14px;
}
.ng-submitted .ng-invalid {
    border: 1px solid rgb(233, 90, 90);
}
@media screen and (max-width: 680px) {
    .feedback-event,
    .feedback-textarea,
    .feedback-row,
    .feedback-submit,
    .feedback-email,
    .feedback-name,
    .feedback-label {
        display: block;
        width: 100%;
    }
    .feedback-container {
        width: 100%;
    }
    .g-recaptcha {
        margin: 15px auto;
    }
    .feedback-cancel {
        text-align: center;
    }
}
@media screen and (max-width: 380px) {
    .feedback-title {
        font-size: 24px;
    }
}