@font-face {
   font-family: 'Futura Today';
   src: url('fonts/futura_today_normal.eot');
   src: url('fonts/futura_today_normal.eot?#iefix') format('embedded-opentype'),
        url('fonts/futura_today_normal.woff') format('woff'),
        url('fonts/futura_today_normal.ttf') format('truetype'),
        url('fonts/futura_today_normal.svg#Futura Today') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura Today Light';
   src: url('fonts/futura_today_light.eot');
   src: url('fonts/futura_today_light.eot?#iefix') format('embedded-opentype'),
        url('fonts/futura_today_light.woff') format('woff'),
        url('fonts/futura_today_light.ttf') format('truetype'),
        url('fonts/futura_today_light.svg#Futura Today Light') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura Today DemiBold';
   src: url('fonts/futura_today_demibold.eot');
   src: url('fonts/futura_today_demibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/futura_today_demibold.woff') format('woff'),
        url('fonts/futura_today_demibold.ttf') format('truetype'),
        url('fonts/futura_today_demibold.svg#Futura Today DemiBold') format('svg');
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura Today Bold';
   src: url('fonts/futura_today_bold.eot');
   src: url('fonts/futura_today_bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/futura_today_bold.woff') format('woff'),
        url('fonts/futura_today_bold.ttf') format('truetype'),
        url('fonts/futura_today_bold.svg#Futura Today Bold') format('svg');
   font-style: normal;
   font-weight: normal;
}